name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: elixir:1.9.1-slim

    services:
      rabbitmq:
        image: rabbitmq
        ports:
        - 5672
        env:
          RABBIT_PORT: 5672
          RABBITMQ_USER: guest
          RABBITMQ_PASSWORD: guest
          RABBITMQ_VHOST: "/"
      redis:
        image: redis
        ports:
        - 6379
        env:
          REDIS_PORT: 6379

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        MIX_ENV=ci mix local.rebar --force
        MIX_ENV=ci mix local.hex --force
        MIX_ENV=ci mix deps.get
      env:
        REDIS_PORT: ${{ job.services.redis.ports['6379'] }}
        RABBITMQ_PORT: ${{ job.services.rabbitmq.ports['5672'] }}
    - name: Run All Tests
      run: MIX_ENV=ci mix test
