name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: ["22.2", "23.0"]
        elixir: [1.10.3]
    services:
      rabbitmq:
        image: rabbitmq
        ports:
        - 5672/tcp
      redis:
        image: redis
        ports:
        - 6379/tcp
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-elixir@v1
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}
    - name: Install Dependencies
      run: |
        MIX_ENV=test mix local.rebar --force
        MIX_ENV=test mix local.hex --force
        MIX_ENV=test mix do deps.get, deps.compile
    - name: Declare queues
      run: |
        MIX_ENV=test mix rambla.rabbit.queue declare rambla-queue
        MIX_ENV=test mix rambla.rabbit.queue declare rambla-queue-2
    - name: Run All Tests
      run: |
        MIX_ENV=test mix test
      env:
        RABBITMQ_HOST: localhost
        RABBITMQ_PORT: ${{job.services.rabbitmq.ports[5672]}}
        RABBITMQ_USERNAME: guest
        RABBITMQ_PASSWORD: guest
        RABBITMQ_VHOST: "/"
        REDIS_HOST: localhost
        REDIS_PORT: ${{job.services.redis.ports[6379]}}
