name: Test with Latest Deps

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    name: OTP ${{matrix.pair.otp}} / Elixir ${{matrix.pair.elixir}}
    services:
      rabbitmq:
        image: rabbitmq
        ports:
          - 5672/tcp
      redis:
        image: redis
        ports:
          - 6379/tcp
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              otp: 20.3.8.26
              elixir: 1.9.4
          - pair:
              otp: 23.2.5
              elixir: 1.11.3
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix do deps.unlock --all, deps.get, deps.compile, compile
      - name: Run All Tests
        run: |
          mix test
        env:
          RABBITMQ_HOST: localhost
          RABBITMQ_PORT: ${{job.services.rabbitmq.ports[5672]}}
          RABBITMQ_USERNAME: guest
          RABBITMQ_PASSWORD: guest
          RABBITMQ_VHOST: "/"
          REDIS_HOST: localhost
          REDIS_PORT: ${{job.services.redis.ports[6379]}}
