name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    name: OTP ${{matrix.pair.otp}} / Elixir ${{matrix.pair.elixir}}
    services:
      rabbitmq:
        image: rabbitmq:management-alpine
        ports:
          - 5672:5672
          - 15672:15672
        options: >-
          --health-cmd "rabbitmqctl node_health_check"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - 6379/tcp
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              otp: 24.3
              elixir: 1.13
          - pair:
              otp: 26.2
              elixir: 1.16
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix do deps.get, deps.compile, compile
      - name: Setup RabbitMQ
        run: |
          curl -X POST -u guest:guest -H 'Content-Type: application/json' -T priv/rabbitmq/config.json http://localhost:15672/api/definitions

      - name: Run All Tests
        run: |
          mix test
        env:
          RABBITMQ_HOST: localhost
          RABBITMQ_PORT: ${{job.services.rabbitmq.ports[5672]}}
          RABBITMQ_USERNAME: guest
          RABBITMQ_PASSWORD: guest
          RABBITMQ_VHOST: "/"
          REDIS_HOST: localhost
          REDIS_PORT: ${{job.services.redis.ports[6379]}}
